<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="header-page-title">About</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p><img src="/images/typing-dog.gif" class="img-thumbnail pull-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac iaculis magna. Aenean accumsan dui id mauris accumsan sodales ut non elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam viverra purus nec iaculis eleifend. Integer vel scelerisque magna, at porttitor magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut nec lobortis magna, ac vestibulum erat. Nullam in leo nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla id odio cursus, ullamcorper risus eu, congue mi. Proin ante felis, condimentum in elit vitae, efficitur sollicitudin velit. Integer vel luctus sapien.</p>

      <p>Donec tempus posuere metus vitae suscipit. Phasellus dignissim placerat nibh, eget pellentesque felis sollicitudin et. Donec id volutpat diam, sit amet ornare odio. Morbi porttitor condimentum risus eu viverra. Proin nisi felis, luctus nec magna sit amet, vulputate porta mi. Ut urna tellus, facilisis sit amet ipsum vel, ultrices aliquet erat. Curabitur ac tristique risus. Vivamus semper eget purus quis commodo. Aliquam erat volutpat. Integer nec mollis velit. Curabitur pellentesque ipsum id nisi malesuada, in suscipit lacus egestas. Nam non diam accumsan, ultrices leo et, ultrices arcu. Fusce sit amet lorem massa. Phasellus fermentum enim sapien, vel tincidunt lacus tempus at. Vestibulum sapien neque, maximus ut tincidunt at, aliquet eu eros.</p>

      <p>In sem risus, fringilla in scelerisque id, dignissim id odio. Vestibulum leo ligula, gravida et eros in, euismod interdum dolor. Mauris est ipsum, suscipit vitae pharetra congue, tempus non velit. Curabitur vitae lorem odio. Nam vitae nunc ac sem imperdiet egestas nec et magna. Morbi aliquet nibh leo, a egestas quam vulputate vitae. Maecenas ac blandit tortor. Mauris condimentum gravida cursus.</p>

      <p>In commodo gravida consectetur. Ut dui neque, dignissim sed diam eget, vehicula porta velit. Phasellus dolor risus, tristique at placerat et, maximus eget lorem. Ut vitae elementum dui, eleifend dapibus risus. Donec sagittis vulputate ex, quis viverra odio interdum eu. Ut non enim pulvinar, scelerisque mauris suscipit, suscipit magna. Donec sed gravida libero, vitae iaculis odio.</p>

      <p>Aenean eu venenatis est. In volutpat lacus id diam venenatis, gravida sodales dolor tempor. In posuere sit amet augue a rhoncus. Donec varius nisi ac mollis dapibus. Curabitur et bibendum magna. Sed semper gravida velit, non auctor velit tristique vitae. Ut nisl nunc, mattis dictum euismod vel, congue ac arcu. Nunc imperdiet faucibus dui.</p>
    </div>
  </div>
</div>
