<div class="container container-text-centered">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="huge-placeholder-text">Welcome to my super awesome markdown editor.</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {{#link-to 'documents.new' class="btn btn-lg btn-primary"}}Create Document{{/link-to}} or go to {{#link-to 'documents'}}Documents{{/link-to}}
    </div>
  </div>
</div>
